*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    } /*  over all element select in universal selector   */
         body{

   
            height: 100vh;
            width: 100%;
            background-size: cover;
            
         background-repeat: no-repeat;
        
        
        
         
    }  /* index.html body background picture is targeted through css */
      
    
    
    
    header{
    width: 100%;
    background-color:rgba(20, 14, 14, 0.295);
    display: flexbox ;
    height: 10vh;
    }   /*  in header  home , about etc color  and height is targated   */


    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: center;
    } /*  in header  . home  about etc  is align means ( in center and want row wise which implemented)  */  
    
    
    
     a {
        position:relative;
         display: inline-block;
        color:white;
        text-decoration:none;
       
     } /*  a is  anchor tag  through a home , about color  and postion is specified      */ 

      a::before{
        content: "";
        position: relative;
        left: 0;
        border-radius: 5px;
         transform:scaleX(0); 
        color: white; }   /*  before means when we not hover on home, about then  this things is  implemented */
    
    a:hover{
        transform:scaleX(1);
       
        transition-duration: 0.1s;
        background-color: rgb(190, 8, 8);
        font-weight: bold;
        color: rgba(23, 67, 161, 0.938);
        bottom: -6px;
    
    }   /*  after means when we  hover on home, about then  this things is  implemented */
    
    
     .navigation a{
     
     text-align: left;
     font-size: 1.1em;
     word-spacing:2px;
      margin: 10px;
      padding: 14px;
     
    
    
    
    }    /* means .navigation class  and in navigation class anchortag a home about etc in between padding and margin   */
    img{
        width: 50px;
        height: 45px;
        margin-top: 10px;
        float: right;
        margin-right: 20px;
         
     } /*  logo image in the header  */


    .div{

font-size:20px;
transform: scalex(1);
color: white;


    } /* what is online lms  below the header color and font size targated thorugh css */
     .div:hover{
        transform:scalex(1);
        color: rgb(30, 165, 82);
        font-size: 21px;
    }  /* when hover on what is online lms then color  and font size wil be like */ 
#menu{
    display: none;

} /* menu button wil not show and show when the screen size is small(width is smaller than 534) like phone */



body.zain{
  background-image: url(background2.jpg);
  background-repeat: no-repeat;
  
}/*contact.html  file backgound */




/* this media querry is active when the screen size width is smaller than    534 */
     
    @media  (max-width: 534px) {
       #menu{
        display: block;
        padding: 1rem;
       }
       a:hover#menu{
        color: black;
        background-color: transparent;
       }
       .menubtn{
        display:none;
       }
       .active{
        background-color:rgb(74, 163, 179);
        display: flex;
        flex-direction: column;
        

       }
       .navigation a{
        padding: 0;
       }
       .bodyM{
        padding-top: 7rem;
       }
     
       
          a::before{
            content: "";
            position: relative;
            left: 0;
    
           
            
            background: white;
            border-radius: 5px;
             transform:scaleX(0);  } 
        
        
        
        
         .navigation a{
         
         text-align: left;
         font-size: 1.1em;
         word-spacing:2px;
          margin: 10px;
         
        
        
        
        }
        img{
            width: 50px;
            height: 45px;
            margin-top: 10px;
            float: right;
            margin-right: 32px;
         }
        

 }

 @media  (min-width: 254px){
    
    
      a::before{
        content: "";
        position: relative;
        left: 0;

       
        
        background: white;
        border-radius: 5px;
         transform:scaleX(0);  } 
    

    
    
     .navigation a{
     
     text-align: left;
     font-size: 1.1em;
     word-spacing:2px;
      margin: 10px;
     
    
    
    
    }
    img{
        width: 50px;
        height: 45px;
         margin-top: 5px;
        float: right
         
     }

 }
    





























 
    
        
    
    